<link rel="stylesheet" type="text/css" href="../styles/profile.css">
<main class="profile-view container narrow" >
  <div ng-show="profile.validUrl()">
    <div class="header">
      <img ng-src= "{{ profile.profPic() }}" align="middle"/>
      <h1>{{ profile.username }}</h1>
    </div>
    <h2> Favorite Song </h3>
    <p> {{ profile.favSong() }} </p>
    <h2> Favorite Band </h2>
    <p> {{ profile.favBand() }}</p>
  </div>
  <div ng-hide="profile.validUrl()">
    <h1>Invalid URL</h2>
  </div>
</main>
